body {
  color: white;
}

div {
  position: absolute;
}

#banner {
  text-align: center;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  background-color: grey;
  width: 100%;
  height: 20%;
}

#red {
  top: 20%;
  width: 33%;
  height: 80%;
  background-color: red;
}

#green {
  top: 20%;
  left: 33%;
  width: 33%;
  height: 80%;
  background-color: darkgreen;
}

#blue {
  top: 20%;
  left: 66%;
  width: 33%;
  height: 80%;
  background-color: lightblue;
}
